{% extends 'shop/basic.html' %}
{% block title %}Checkout{% endblock %}
{% block css %}
body{
<!-- background-color: red; -->
}
p{
color : red;
}
}
{% endblock %}
{% block body %}
<div class="container my-4 bg-light">
    <div class="col">
        <h2>Step 1 - My Awesome Cart Express Checkout -Review Your Items</h2>
        <div>
            <ul class="list-group my-4" id="item"></ul>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-3">
                  <li class="breadcrumb-item active" aria-current="page">
                      Your Cart Total is <b>Rs. <span id="totalPrice"></span></b>
                      . Enter your details below & place your order. Thanks for using
                  </li>
                </ol>
              </nav>
        </div>
    </div>
    <div class="col my-4">
        <h2>Step 2 - Enter Address & other Details:</h2>
        <form action="/shop/checkout/" method="POST">{% csrf_token %}
            <input type="hidden" id="itemsJson" name="itemsJson">
            <input type="hidden" id="amount" name="amount">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="address2" name="address2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPhone">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="state" name="state">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="zip_code" name="zip_code">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'))


        if ($.isEmptyObject(cart)) {
            mystr = `<p>Your cart is empty, Please add some item to your cart before checking out..!</p>`
            $('#item').append(mystr);
        }
        var sum = 0;
        var totalPrice = 0;
        for (item in cart) {
            let name = cart[item][1];
            let qty = cart[item][0];
            let itemPrice = cart[item][2];
            sum += qty;
            totalPrice += qty * itemPrice;
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">Price : ${itemPrice} * ${qty} = ${itemPrice*qty}</span>
                    <span class="badge badge-primary badge-pill">No. of Books ${qty}</span>
                </li>`;
            $('#item').append(mystr);
            
        }
    }
    document.getElementById('cart').innerHTML = sum;
    document.getElementById('totalPrice').innerHTML = totalPrice;

    $('#itemsJson').val(JSON.stringify(cart));
    $('#amount').val(totalPrice);
    // if({  thank }){
    //     alert('Thanks for purchase')
    //     localStorage.clear();
    // }
    // document.location = "/shop"
</script>

{% endblock %}